@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

  .bg-frag {
    background-image: url(/assets/img/fetedesmeres.png);
 
    background-size: cover;

    background-repeat: no-repeat;


  }

  .bg-rose {
    background-image: url(/assets/img/bg-flowers.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .bt-rose {
    color: black;
    background-color: #f7D9DB;
  }