@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

  .bg-frag {
    background-image: url(/assets/img/background-F.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
  }

